/* Estilos iniciales para el modo claro de Spotify */

body {
  filter: invert(1) hue-rotate(180deg);
  background-color: #fff !important; /* Asegura un fondo blanco */
}

/* Excluir imágenes y videos de la inversión de color */
img, video {
  filter: invert(1) hue-rotate(180deg);
}

/* Ajustes específicos para elementos de Spotify si es necesario */
/* Por ejemplo, si hay elementos con fondos o textos que no se invierten correctamente */
/* .spotify-element-class { background-color: #f0f0f0 !important; color: #333 !important; } */

